<div class="chica chica-grande">
	<a
		class="link"
		href="http://webcams.cumlouder.com/joinmb/cumlouder/{{ bigThumbnail.wbmerPermalink }}?nats={{ affiliate.nats_webcams }}"
		target="iframe"
		title="{{ bigThumbnail.wbmerNick }}"
	>
		<span class="thumb">
			<img
				src="//w0.imgcm.com/modelos/{{ bigThumbnail.wbmerThumb1 }}"
				alt="{{ bigThumbnail.wbmerNick }}"
				title="{{ bigThumbnail.wbmerNick }}"
			/>
		</span>
		<span class="nombre-chica"><span class="ico-online"></span>{{ bigThumbnail.wbmerNick }}</span>
		<span id="favorito" class="ico-favorito"></span>
	</a>
</div>
