<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>{{ affiliate.name }}</title>

	<link rel="stylesheet" href="{{ asset('affiliates/' ~ folderName ~ '/css/reset.css') }}" type="text/css" media="screen,projection">
	<link rel="stylesheet" href="{{ asset('affiliates/' ~ folderName ~ '/css/estilos.css') }}" type="text/css" media="screen,projection">
	<link rel="stylesheet" href="{{ asset('affiliates/' ~ folderName ~ '/css/modal.css') }}" type="text/css" media="screen,projection">
</head>
