<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="es" xmlns="http://www.w3.org/1999/xhtml">
{% include 'header.twig' %}
{% include 'google-analytics.twig' %}
<body>
    {% include 'box-header.twig' %}

    <div class="listado-chicas">
        {% for bigThumbnail in bigThumbnailsList %}
            {% include 'big-thumbnail.twig' %}
        {% endfor %}

        {% for smallThumbnail in smallThumbnailsList %}
            {% include 'small-thumbnail.twig' %}
        {% endfor %}
    </div>

    <a class="btn-mas-modelos" href="#" title="Mostrar más modelos">Siguiente Página</a>

    <div class="box-footer">
        <div class="menu">
            <a href="#" title="Acceso a las Chicas en Directo">Acceso a las Chicas en Directo</a> <span>|</span>
            <a href="#" title="Acceso Miembros">Acceso Miembros</a> <span>|</span>
            <a href="#" title="Compra Créditos">Compra Créditos</a>
        </div>
    </div>

    <div class="box-copy">
        <div class="menu">
            <p>Copyright © WAMCash Spain Todos los derechos reservados <span>|</span> <a href="#" title="Webmasters">Webmasters</a> </p>
            <p>Contenido para adultos <span>|</span> Tienes que tener mas de 18 años para poder visitarlo. Todas las modelos de esta web son mayores de edad.</p>
        </div>
    </div>

    <div class="box-data">
        <div class="menu">
            <a href="#" title="Soporte Epoch">Soporte Epoch</a> <span>|</span>
            <a href="#" title="18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement">18 U.S.C. 2257 Record-Keeping Requirements Compliance Statement</a> <span>|</span>
            <a href="#" title="Contacto">Contacto</a> <span>|</span>
            <a href="#" title="Please visit Epoch.com, our authorized sales agent">Please visit Epoch.com, our authorized sales agent</a>
        </div>
    </div>

    <div class="modal isHidden">
        <button class="close">x</button>
        <div class="clear"></div>
        <iframe class="iframe" name="iframe"></iframe>
    </div>

    <script type="application/javascript" src="{{ asset('affiliates/' ~ folderName ~ '/index.js') }}"></script>
</body>
</html>
