<div class="chica">
	<a
		class="link"
		href="http://webcams.cumlouder.com/joinmb/cumlouder/{{ smallThumbnail.wbmerPermalink }}?nats={{ affiliate.nats_webcams }}"
		target="iframe"
		title="{{ smallThumbnail.wbmerNick }}"
	>
		<span class="thumb">
			<img src="//w0.imgcm.com/modelos/{{ smallThumbnail.wbmerThumb1 }}" alt="{{ smallThumbnail.wbmerNick }}" title="{{ smallThumbnail.wbmerNick }}" />
		</span>
		<span class="nombre-chica"><span class="ico-online"></span>{{ smallThumbnail.wbmerNick }}</span>
		<span id="favorito" class="ico-favorito"></span>
	</a>
</div>
